<!--
 ____________________________________________________________
|                                                            |
|    DESIGN + Pat Heard { http://fullahead.org }             |
|      DATE + 2006.03.19                                     |
| COPYRIGHT + Free use if this notice is left in place       |
|____________________________________________________________|

-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-AU">

<head>


  <title>lazy days ( intro )</title>

  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta name="author" content="fullahead.org" />
  <meta name="keywords" content="Open Web Design, OWD, Free Web Template, Lazy Days, Fullahead" />
  <meta name="description" content="A free web template designed by Fullahead.org and hosted on OpenWebDesign.org" />
  <meta name="robots" content="index, follow, noarchive" />
  <meta name="googlebot" content="noarchive" />

  <link rel="stylesheet" type="text/css" href="css/html.css" media="screen, projection, tv " />
  <link rel="stylesheet" type="text/css" href="css/layout.css" media="screen, projection, tv" />
  <link rel="stylesheet" type="text/css" href="css/print.css" media="print" />

</head>


<body>

<!-- CONTENT: Holds all site content except for the footer.  This is what causes the footer to stick to the bottom -->
<div id="content">



  <!-- HEADER: Holds title, subtitle and header images -->
  <div id="header">

    <div id="title">
      <h1>Lazy Days</h1>
      <h2>in Madrid</h2>
      <div class="loggin">
        {% if request.user.is_authenticated %}
              <form action="/logout" method="post" style="position:relative; left:300%; bottom:75%;">{% csrf_token %}
                <h1><label for="username">{{request.user.username}}</label></h1><br/>
                <input type="submit" value="logout" />
              </form>
        {% else %}
        <form action="/login" method="POST" style="position:relative; left:300%; bottom:75%;">{% csrf_token %}
            <label for="username">User name:</label>
            <input type="text" name="username" value="" id="username">
            <label for ="password">Password:</label>
            <input type="password" name="password" value="" id="password">
            <input type="submit" value="login" />
        </form>
        {% endif %}
      </div>
    </div>

    <img src="images/bg/balloons.gif" alt="balloons" class="balloons" />
    <img src="images/bg/header_left.jpg" alt="left slice" class="left" />
    <img src="images/bg/header_right.jpg" alt="right slice" class="right" />

  </div>



  <!-- MAIN MENU: Top horizontal menu of the site.  Use class="here" to turn the current page tab on -->
  <div id="mainMenu">
    <ul class="floatRight">
      <li><a href="/" title="Pagina principal del sitio" class="here">Principal</a></li>
      <li><a href="/alojamientos" title="Todos los hoteles disponibles">Lista Alojamientos</a></li>
      <li><a href="index.html" title="Sobre nosotros...">About</a></li>
    </ul>
  </div>




  <!-- PAGE CONTENT BEGINS: This is where you would define the columns (number, width and alignment) -->
  <div id="page">


    <!-- 25 percent width column, aligned to the left -->
    <div class="width25 floatLeft leftColumn">

      {% block left %}{% endblock %}

    </div>

    <!-- 75 percent width column, aligned to the right -->
    <div class="width75 floatRight">


      <!-- Gives the gradient block -->
      <div class="gradient">

        {% block content %}{% endblock %}

      </div>

    </div>

  </div>

</div>


<!-- FOOTER: Site footer for links, copyright, etc. -->
<div id="footer">

  <div id="width">
    <span class="floatLeft">
      "Esta aplicacion utiliza datos del portal de datos abiertos de la ciudad de Madrid"

    <span class="floatRight">
      <a href="/" title="Introduction">Principal</a> <span class="grey">|</span>
      <a href="/alojamientos" title="Lista Hoteles">Lista Hoteles</a> <span class="grey">|</span>
      <a href="/about" title="Sobre nosotros">About</a> <span class="grey">|</span>
    </span>
  </div>

</div>

</body>

</html>
